<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: post.title }) %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown-light.min.css">
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
  <main id="post-detail">
    <h1><%= post.title %></h1>
    <section id="post-meta">
      <address><a href="mailto:<%= post.author_email %>"><%= post.author_name %></a></address> |
      <time datetime="<%= post.date %>"><%= post.humanreadabledate %></time>
    </section>
    <hr>
    <section class="markdown-body">
      <div id="body"><%- post.content %></div>
    </section>
  </main>
</body>

</html>
